<div class="container dashboard">
	<button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
	<div class="row pt-4">
		<div class="col">
			<app-summary-card [storeSummary]="newCustomersCount"></app-summary-card>
		</div>
		<div class="col">
			<app-summary-card [storeSummary]="activeUsersCount"></app-summary-card>
		</div>
		<div class="col">
			<app-summary-card [storeSummary]="salesSum"></app-summary-card>
		</div>
	</div>

	<div class="products">
		<div class="row">
			<div class="col-md-6">
				<h3 class="mt-4">Products</h3>
			</div>
			<div class="col-md-6 text-right">
				<button type="button" class="btn btn-success" (click)="openProductFormModal()">Create a Product</button>
			</div>
		</div>
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Sku</th>
					<th>Product Name</th>
					<th>Product Price</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="!products">
					<td colspan=1>
						&nbsp;
					</td>
					<td colspan=4>
						<div class="loader"></div>
					</td>
				</tr>
				<tr *ngFor="let product of products">
					<td>
						<img class="product-img" src="https://res.cloudinary.com/demo/image/upload/sample.jpg"/>
					</td>
					<td>{{product.sku}}</td>
					<td>{{product.name}}</td>
					<td>$ {{product.price}}</td>
					<td class="text-center">
						<button type="button" class="btn btn-info">Edit</button>
						<button type="button" class="btn btn-danger">Delete</button>					
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>



<ng-template #template>
		<div class="modal-header">
			<h4 class="modal-title pull-left">Modal</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			This is a modal.
		</div>
	</ng-template>