<div class="container">
	<button type="button" class="btn btn-lg btn-primary" (click)="logout()">Logout</button>
	<div class="row pt-4">
		<div class="col">
			<app-summary-card [storeSummary]="newCustomersCount"></app-summary-card>
		</div>
		<div class="col">
			<app-summary-card [storeSummary]="activeUsersCount"></app-summary-card>
		</div>
		<div class="col">
			<app-summary-card [storeSummary]="salesSum"></app-summary-card>
		</div>
	</div>
	<h3 class="mt-4">Top selling products</h3>
	<table class="table table-striped">
		<tr *ngFor="let product of products">
			<td>{{product.name}}</td>
		</tr>
	</table>
	<div class="row">
		<div class="col-3 pb-4" *ngFor="let product of topSellingProducts">
			<app-product-card [product]="product"></app-product-card>
		</div>
	</div>
</div>
