@import '~app/scss/_vars.scss';

::ng-deep a {
  text-align: center;
}

.product-image {
  max-width: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  margin: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: $light-grey-bg;
}