.auth {
  padding-top: 90px;

  .panel {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-color: #ccc;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  }
  .panel>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
  }

  .panel input[type="text"],.panel input[type="email"],.panel input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .panel input:hover,
  .panel input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
  }
}
