<div class="container auth">
  <div class="panel">
    <div class="alert alert-danger" *ngIf="error">{{error}}</div>
    <div class="row">  
      <div class="col-lg-12">
        <form id="login-form" [formGroup]="loginForm" role="form" style="display: block;" (ngSubmit)="login(loginForm.value)">
          <div class="form-group">
            <input type="text" formControlName="name" name="name" id="name" tabindex="1" class="form-control" placeholder="Username" value="">
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
          </div>
          <div class="form-group text-center">
            <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
            <label for="remember"> Remember Me</label>
          </div>
          <div class="form-group">
            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Log In">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>