<div class="file-drop-zone">
  <div class="file-drop-zone__filedrag"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)">or drop files here</div>

  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          File Name
        </div>
        <div class="col">
          Progress
        </div>
      </div>
    </div>
    <div *ngFor="let file of fileList">
      <div class="container">
        <div class="row">
          <div class="col">
            {{ file.name }}
          </div>
          <div class="col">
            Progress
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" *ngIf="fileList && fileList.length > 0" (click)="uploadAllFiles($event)">Upload</button>
</div>
